<!DOCTYPE html>
<html>

<head>
  <title>Disaster Management System</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script src="{{ url_for('static', filename='js/list.js') }}"></script>

</head>

<body id="people">

  <nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">

        <a class="navbar-brand" href="#"><strong>Disaster Management Portal</strong></a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


        <ul class="nav navbar-nav navbar-right">
          <li>
            <form class="navbar-form" role="search">
        <div class="input-group">
            <input type="text" class="form-control search" placeholder="Search" name="q">
            <div class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </div>
        </div>
        </form>
          </li>
          <li>&nbsp;
          </li>
          <li>

            <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModalHorizontal">
     New Entry
            </button>
       </li>
        </ul>
      </div>
      <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
  </nav>

  <div class="modal fade" id="myModalHorizontal" tabindex="-1" role="dialog"
       aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
          <div class="modal-content">
              <!-- Modal Header -->
              <div class="modal-header">
                  <button type="button" class="close"
                     data-dismiss="modal">
                         <span aria-hidden="true">&times;</span>
                         <span class="sr-only">Close</span>
                  </button>
                  <h4 class="modal-title" id="myModalLabel">
                      New Person Entry
                  </h4>
              </div>

              <!-- Modal Body -->
              <div class="modal-body">

                  <form class="form-horizontal" action="form_new_entry" method="post" role="form">
                    <div class="form-group">
                      <label  class="col-sm-2 control-label" for="inputaadhar">Aadhar</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="inputaadhar"  placeholder="Aadhar Number"/>
                        </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputgender" >Gender</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputgender" placeholder="M or F"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputfirstname" >First Name</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputfirstname" placeholder="First Name"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputlastname" >Last Name</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputlastname" placeholder="Last Name"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputage" >Age</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" name="inputage" placeholder="Age"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputmobile" >Contact</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" name="inputmobile" placeholder="Mobile Number"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputpocname" >POC</label>
                      <div class="col-sm-10">
                          <input type="text" class="form-control" name="inputpocname" placeholder="Person Of Contact Name"/>
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputpocnumber" >POC Mobile</label>
                      <div class="col-sm-10">
                          <input type="number" class="form-control" name="inputpocnumber" placeholder="Person Of Contact Number"/>
                      </div>
                    </div>
                    <!-- <div class="form-group">
                      <label class="col-sm-2 control-label" for="inputimg" >Image</label>
                      <div class="col-sm-10">
                          <input type="file" accept="image/*;capture=camera" class="form-control" name="inputimg" placeholder="Image">
                      </div>
                    </div> -->
                    <div class="form-group">
                      <div class="col-sm-offset-8 col-sm-10">
                        <button type="submit" class="btn btn-default">Submit</button>
                      </div>
                    </div>
                  </form>






              </div>

              <!-- Modal Footer -->
              <div class="modal-footer">

              </div>
          </div>
      </div>
  </div>






  <div class="container">
    <div class="row">
      <div class="col-md-8" id="map">
        for maps

      </div>
      <div class="col-md-4 list-group">
        <div class="row">
          <div class="col-md-10 col-md-offset-1" id="recent_people">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    {% block content %} {% endblock %}
  </div>


<script>
window.peopleRescued = JSON.parse({{people_rescued|tojson}});
window.mapPlot = JSON.parse({{map_plot|tojson}});
</script>
<script type="text/javascript" src="{{url_for('static', filename='js/main.js') }}"></script>
<script src="https://maps.googleapis.com/maps/api/js?callback=add_marker" async defer></script>



</body>

</html>
